body {
   background-color: #ededed;
   padding: 10px;
}

.widget {
   width: 100%;
   height: min-content;
   background-color: white;
   background-size: 20px 20px;
   background-image:
      linear-gradient(to right, #ededed 1px, transparent 1px),
      linear-gradient(to bottom, #ededed 1px, transparent 1px);
   border: 1px solid #dcdcdc;
   border-radius: 6px;
   font-family: 'Arial';
   font-size: 18px;
   position: relative;
}

.header {
   background-color: #dcdcdc;
   border: 1px solid #dcdcdc;
   border-radius: 6px 6px 0 0;
   padding: 10px;
   height: 10px;
}

.header_btns {
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: flex-start;
   list-style: none;
}

.header_btn {
   margin-right: 10px;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: #c9c8c9;
}

.ticket_area {
   padding: 15px;
}

.menu {
   display: flex;
   justify-content: end;
}

.btn {
   font-family: 'Arial';
   font-size: 18px;
   padding: 15px 20px 15px 20px;
   background-color: white;
   border: 1px solid black;
   border-radius: 8px;
}

.tickets {
   list-style: none;
   margin: 20px 0 20px 0;
   padding: 0;
}

.ticket {
   background-color: white;
   padding: 0.7em 1em 0.7em 1em;
   border: 1px solid black;
}

.standard {
   display: flex;
   justify-content: space-between;
   position: relative;
}

.info {
   align-self: center;
}

.short_desk {
   width: 70%;
}

.date {
   width: 15%;
}

.btn_dec {
   align-self: center;
   height: 30px;
   width: 30px;
   border: 1px solid black;
   border-radius: 50%;
   font-size: 18px;
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center center;
   display: flex;
   justify-content: center;
}

.ticket_btns {
   display: flex;
   justify-content: space-between;
}

.icon {
   margin-left: 10px;
}

.check {
   display: none;
   height: 15px;
   width: 15px;
   align-self: center;
   background-image: url('../img/mark.png');
}

.redact {
   background-image: url('../img/pen.png');
}

.remove {
   background-image: url('../img/delete.png');
}

.fullDesk {
   position: relative;
   width: 70%;
   display: block;
   margin: 30px 0 30px 0;
}

.form {
   position: absolute;
   content: '';
   left: 0;
   right: 0;
   margin: auto;
   width: 33%;
   height: min-content;
   background-color: white;
   border: 1px solid black;
   border-radius: 8px;
   padding: 20px;
}

.form_name {
   font-size: 18px;
   text-align: center;
   margin: 0;
}

.form_group {
   width: 100%;
   margin-top: 20px;
}

.area {
   width: 97.5%;
   border: 1px solid black;
   padding: 1%;
   margin-bottom: 10px;
   resize: none;
}

.area_header {
   display: block;
   margin-bottom: 10px;
}

.short {
   height: 2em;
}

.long {
   height: 7em;
}

.form_btns {
   display: flex;
   justify-content: end;
}

.btn {
   margin-left: 10px;
}